@CHARSET "UTF-8";
table
{ 
	border-collapse:collapse;border:solid 1px #ccc;width:770px;color:gray;
}
td
{ 
	border:solid 0px skyblue; font-size:12px; height:30px;
}
#in
{ 
	font-size:12px; width:500px; height:23px; border:none;
}
.main
{ 
	margin:0 auto; width:600px;
}			
